{% extends "projects/base.html" %}

{% load static %}

{% block content %}
<h1>Certificate Listing</h1>

{% if messages %}
<ul class="messages" style="background-color:#ccc">
  {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
      {{ message }}
    </li>
  {% endfor %}
</ul>
{% endif %}

<ul>
{% for certificate in certificates %}
  <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ certificate.title }}</h5>
                        <a href="{% url 'certificate_detail' certificate.pk %}"
                        class="btn btn-primary">
                            Details
                        </a>
                    </div>
                </div>
            </div>
{% endfor %}
</ul>
{% endblock content %}